<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href={{url_for('static',
    filename='css/dashboard.css')}} />
    <!-- Boxicons CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <!-- SIDEBAR -->
    <div class="sidebar">
      <div class="logo-details">
        <img class="sb-sd-logo closed" id="logo" src={{url_for('static',
        filename='img/logo/SDB_icon.png')}}>
      </div>
      <ul class="nav-list p-0">
        <li>
          <a href="/dashboard">
            <i class="bx bxs-dashboard"></i>
            <span class="links_name">Dashboard</span>
          </a>
          <span class="tooltip">Dashboard</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-list-ul"></i>
            <span class="links_name">Request Feed</span>
          </a>
          <span class="tooltip">Request Feed</span>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-history"></i>
            <span class="links_name">Request History</span>
          </a>
          <span class="tooltip">Request History</span>
        </li>
        <li>
          <a href="/account">
            <i class="bx bx-user-circle"></i>
            <span class="links_name">Account</span>
          </a>
          <span class="tooltip">Account</span>
        </li>
        <li>
          <a href="/logout">
            <i class="bx bx-log-out" id="log_out"></i>
            <span class="links_name">Logout</span>
          </a>
          <span class="tooltip">Logout</span>
        </li>
      </ul>
    </div>
    <!-- TODO FIX ERROR MODAL -->
    <!-- <div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="flashModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="flashModalLabel">Flash Message</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{ get_flashed_messages() }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> -->

    <!-- DASHBOARD -->
    <div class="dashboard-section">
      <!-- HEADER / NAVBAR -->
      <header class="navbar-header d-flex flex-wrap justify-content-center pt-2 pb-2">
        <ul class="nav nav-pills me-md-auto">
          <li class="nav-item ms-3 mt-1">
            <img class="icons" src={{url_for('static',
            filename='img/icons/W_menu.png')}} id="btn"/>
          </li>
          <li class="nav-item">
            <a href="/dashboard" class="nav-link">Dashboard</a>
          </li>
        </ul>

        <ul class="nav nav-pills me-5">
          <li class="nav-item">
            <a href="/about" class="nav-link link-light">SEARCH BOX</a>
          </li>
        </ul>
        
      </header>
    <!-- MAIN BODY -->
    <div class="container mt-4"> 
      <div class="row">
        <div class="col-9">
          <!-- Date & Time Realtime -->
          <div class="datetime row p-2 m-0 align-items-center">
            <div class="dategreeting col-8 align-items-center">
              <div class="date"></div>
              <p class="greeting mb-0"></p>
              
            </div>
            <img class="col-4 align-items-center justify-content-end" id="sd_icon3d" src={{url_for('static',
              filename='img/logo/SD_icon3d.png')}}>
          </div>
          <!-- Total Request and Create Request Row -->
          <div class="row mt-4">
            <!-- TOTAL REQUEST CARD -->
            <div class="col-7">
              <a href="/requestfeed">
              <div class="card TR-card border-0">
                
                <div class="d-flex align-items-center m-3">
                  <div class="TR-number ms-1 me-2">
                    <h3 >
                      {{ rq }}
                    </h3>
                  </div>
                  <div class="TR-info me-md-auto">
                    <h3 >
                      Total Request
                    </h3>
                  </div>
                
                  <div class="TR-icon">
                    <img src={{url_for('static',
                    filename='img/icons/B_Task.png')}} alt="tr-icon">
                  </div>
                </div>
                </a>
              </div>
            </div>
            <!-- CREATE REQUEST CARD -->
            <div class="col-5">
              <div class="card CR-card ">  
                <a onclick="showModal('#CreateModal')" style="cursor: pointer;">
                  <div class="d-flex align-items-center m-3">
                    <div class="CR-info me-md-auto">
                      <h3 >
                        Create Request
                      </h3>  
                    </div>
                    <div class="CR-icon">
                      <img src={{url_for('static',
                      filename='img/icons/Y_CRicon.png')}} alt="tr-icon">
                    </div>
                </div>
                </a>
              </div>
            </div>
          </div>
          <div class="row mt-4 p-2">
            <div class="card RF-card">
              <div class="row RF-card-header my-3 ms-1">
                <h3>Request Feed</h3>
              </div>
              <div class="row RF-card-categories">
                <div class="col d-flex categories mx-2">
                  <h5 class="mx-2">All</h5>
                  <h5 class="mx-2">Print Request</h5>
                  <h5 class="mx-2">Gcash Request</h5>
                  <h5 class="mx-2">Food Request</h5>
                </div>
              </div>
              {% for request in rqlist %}
                {% if request['service_name'] == 'SFPR' %}
                <div class="row RF-card-requests p-2" >
                  <div class="col-8" >
                    <div class="row requests-title mt-2"> 
                      <h4>Printing Request</h4>
                    </div>
                    <div class="row request-info ">
                      <h5>{{ request['request_id'] }} - {{ request['location'] }}</h5>
                    </div>
                    <div class="row request-description">
                      <h6>{{ request['description'] }} </h6>
                    </div>
                  </div>
                  {% if request['user_id'] == user['user_id'] %}
                  <div class="col-4 d-flex justify-content-center align-self-center" >
                    <button type="button" class="btn accept-request " disabled>
                      Listing
                    </button>
                  </div>
                  {% else %}
                  <div class="col-4 d-flex justify-content-center align-self-center" >
                    <button type="button" class="btn accept-request mx-2">
                      Accept
                    </button>
                    <button type="button" class="btn later-request">
                      Later
                    </button>
                  </div>
                  {% endif %}
                {% elif request['service_name'] == 'SFGC' %}
                <div class="row RF-card-requests p-2" >
                  <div class="col-8" >
                    <div class="row requests-title mt-2"> 
                      <h4>Gcash Request</h4>
                    </div>
                    <div class="row request-info ">
                      <h5>{{ request['request_id'] }} - {{ request['location'] }}</h5>
                    </div>
                    <div class="row request-description">
                      <h6>{{ request['description'] }} </h6>
                    </div>
                  </div>
                  {% if request['user_id'] == user['user_id'] %}
                  <div class="col-4 d-flex justify-content-center align-self-center" >
                    <button type="button" class="btn accept-request " disabled>
                      Listing
                    </button>
                  </div>
                  {% else %}
                  <div class="col-4 d-flex justify-content-center align-self-center" >
                    <button type="button" class="btn accept-request mx-2">
                      Accept
                    </button>
                    <button type="button" class="btn later-request">
                      Later
                    </button>
                  </div>
                  {% endif %}
                {% elif request['service_name'] == 'SFFDS' %}
                <div class="row RF-card-requests p-2" >
                  <div class="col-8" >
                    <div class="row requests-title mt-2"> 
                      <h4>Food Request</h4>
                    </div>
                    <div class="row request-info ">
                      <h5>{{ request['request_id'] }} - {{ request['location'] }}</h5>
                    </div>
                    <div class="row request-description">
                      <h6>{{ request['description'] }} </h6>
                    </div>
                  </div>
                  {% if request['user_id'] == user['user_id'] %}
                  <div class="col-4 d-flex justify-content-center align-self-center" >
                    <button type="button" class="btn accept-request " disabled>
                      Listing
                    </button>
                  </div>
                  {% else %}
                  <div class="col-4 d-flex justify-content-center align-self-center" >
                    <button type="button" class="btn accept-request mx-2">
                      Accept
                    </button>
                    <button type="button" class="btn later-request">
                      Later
                    </button>
                  </div>
                  {% endif %}
                {% else %}
                <div class="row requests-title"><h5>Hatdog ka?</h5></div>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
          <!-- Profile and Notif Row -->
        </div>
        <!-- SIDE PROFILE KILID SA REQUEST FEED -->
          <div class="col-3">
            <div class="user-card">
              <div class="user-card-body">
              <div class="user-img d-flex justify-content-center py-3">
                <a href="/account" class=" nav-link link light">
                {% if user['userImg'] is none %}
                  <img
                  class="avatar"
                  src="https://avatars.dicebear.com/api/avataaars/{{user['fname']}}{{user['lname']}}.svg?size=100&style=circle"
                />
                {% else %}
                <img class="avatar" src="{{ user['userImg'] }}" />
                {% endif %}
                </a>
              </div>
              <div class="user-details d-flex justify-content-center mt-2">
                <h2>{{user['fname']}} {{user['lname']}}</h2>
              </div>
              <div class="user-cc d-flex justify-content-center">
                {% if user['course'] is none %}
                <p>{{user['college']}}</p>
                {% else %}
                <p>{{user['college']}} - {{user['course']}}</p>
                {% endif %}
              </div>
              <div class="user-requests py-2 d-flex">
                <div class="col-8 created-request d-flex ms-2 my-2 p-2">
                  <div class="cr-number p-1 align-self-center">
                    <h3 class="ms-2">{{ crequest }}</h3>
                  </div>
                  <div class="cr-text p-1 align-self-center">
                    <h5 class="m-0">Request Created</h5>
                  </div>
                </div>
                <div class="col-4">
                  Tae
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    {% include 'dashboard/CreateModal.html' %}
    
  </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Script for changing in Gcash Modal -->
    <script>
      const cashInBtn = document.getElementById("cash-in");
      const cashOutBtn = document.getElementById("cash-out");
      const cashInReq = document.getElementById("cash-in-req")
      const cashOutReq = document.getElementById("cash-out-req")
      const cashIndiv = document.getElementById("gcash-in-option")
      const cashOutdiv = document.getElementById("gcash-out-option")
      const GcashDiv = document.getElementById("gcash-option")

      const SubmitBtn = document.getElementById("submit")
      
      cashInBtn.addEventListener("click", () => {
        cashIndiv.style.display = "block";
        SubmitBtn.style.display = "block";
        GcashDiv.style.display = "none";
      });

      cashInReq.addEventListener("click", () => {
        cashIndiv.style.display = "none";
        SubmitBtn.style.display = "none";
        GcashDiv.style.display = "block";
      });

      cashOutBtn.addEventListener("click", () => {
        cashOutdiv.style.display = "block";
        SubmitBtn.style.display = "block";
        GcashDiv.style.display = "none";
      });

      cashOutReq.addEventListener("click", () => {
        cashOutdiv.style.display = "none";
        SubmitBtn.style.display = "none";
        GcashDiv.style.display = "block";
      });
    </script>
    
    <!-- Script For Sidebar -->
    <script defer>
      let sidebar = document.querySelector(".sidebar");
      let closeBtn = document.querySelector("#btn");
      closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        console.log(btn1);
        console.log(sidebar);
        console.log(sidebar.classList);
      });
    </script>
    <!-- SCRIPT FOR GETTING REALTIME DATE & User's Firstname -->
    <script>
      var userFirstName = "{{ fname }}";

      const dateElement = document.querySelector(".date");
      const greetingElement = document.querySelector(".greeting");
      const nth = function(d) {
      if (d > 3 && d < 21) return 'th';
      switch (d % 10) {
        case 1:  return "st";
        case 2:  return "nd";
        case 3:  return "rd";
        default: return "th";
        }
      }
      function formatDate(date) {
        const DAYS = [
          "Sunday",
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday"
        ];
        const MONTHS = [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December"
        ];

        return `${DAYS[date.getDay()]}, ${MONTHS[date.getMonth()]} ${date.getDate()}${nth(date.getDate())}`;
      }
      function getGreeting() {
        const now = new Date();
        const hours = now.getHours();
        
        if (hours < 12) {
          return "Good morning, " + userFirstName + "!"; 
        } else if (hours < 18) {
          return "Good afternoon, " + userFirstName+ "!";
        } else {
          return "Good evening, " + userFirstName+ "!";
        }
      }

      setInterval(() => {
        const now = new Date();


        dateElement.textContent = formatDate(now);
      }, 200);

      setInterval(() => {
      greetingElement.textContent = getGreeting();
    }, 200);
    </script>
    <!-- JQUERY FOR SHOWING MODALS -->
    <script>
      function showModal(modalId) {
        $(modalId).modal("show");
        $("#CreateModal").modal("hide");
      }
      function returnCreateModal(modalId) {
        $(modalId).modal("hide");
      $("#CreateModal").modal("show");
      }
      console.log(showModal)
      console.log(returnCreateModal)
    </script>
</html>
