<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{{ title }}</title>
    <link rel="icon" href={{url_for('static', filename='img/logo/SDB_icon.png')}}>
    <meta charset="UTF-8" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href={{url_for('static',
    filename='css/dashboard.css')}} />
    
    <!-- Boxicons CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    {% include 'dashboard/CreateModal.html' %}
    <!-- SIDEBAR -->
    {% include 'sidebar.html' %}
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="flashModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="flashModalLabel">Flash Message</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ get_flashed_messages() }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      {% endwith %}

    <!-- DASHBOARD -->
    <div class="dashboard-section">
      <!-- HEADER / NAVBAR -->
      {% include 'usernavbar.html' %}
    <!-- MAIN BODY -->
    <div class="container mt-4"> 
      <div class="row">
        <div class="col-lg-9 col-sm-12">
          <!-- Date & Time Realtime -->
          <div class="datetime row p-2 m-0 align-items-center">
            <div class="dategreeting col-8 align-items-center">
              <div class="date"></div>
              <p class="greeting mb-0"></p>
              
            </div>
            <img class="col-4 align-items-center justify-content-end" id="sd_icon3d" src={{url_for('static',
              filename='img/logo/SD_icon3d.png')}}>
          </div>
          
          <!-- Total Request and Create Request Row -->
          <div class="row mt-4">
            <!-- TOTAL REQUEST CARD -->
            <div class="col-7">
              <a href="/request-feed" style="text-decoration: none">
                <div class="card TR-card border-0">
                  <div class="d-flex align-items-center m-3">
                    <div class="TR-number ms-1 me-2">
                      <h3 >
                        {{ rq }}
                      </h3>
                    </div>
                    <div class="TR-info me-md-auto">
                      <h3 >
                        Total Request
                      </h3>
                    </div>
                    
                    <div class="TR-icon">
                      <img src={{url_for('static',
                      filename='img/icons/B_Task.png')}} alt="tr-icon">
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <!-- CREATE REQUEST CARD -->
            <div class="col-5">
              <div class="card CR-card ">  
                <a onclick="showModal('#CreateModal')" style="cursor: pointer;">
                  <div class="d-flex align-items-center m-3">
                    <div class="CR-info me-md-auto">
                      <h3 >
                        Create Request
                      </h3>  
                    </div>
                    <div class="CR-icon">
                      <img src={{url_for('static',
                      filename='img/icons/Y_CRicon.png')}} alt="tr-icon">
                    </div>
                </div>
                </a>
              </div>
            </div>
          </div>
          <div class="row mt-4 p-2">
            <div class="card RF-card">
              <div class="row RF-card-header my-3 ms-1">
                <h3>Request Feed</h3>
              </div>
              <div class="row RF-card-categories">
                <div class="col d-flex categories mx-2">
                  <h5 class="mx-2">All</h5>
                  <h5 class="mx-2">Print Request</h5>
                  <h5 class="mx-2">Gcash Request</h5>
                  <h5 class="mx-2">Food Request</h5>
                </div>
              </div>
              {% for request in rqlist %}
                {% if request['user_id'] == user['user_id'] or request['accepted_user_id'] == user['user_id'] %}
                <div class="row RF-card-requests p-2" >
                  <div class="col-5 col-lg-8" >
                  {% if request['service_name'] == 'SFPR'%}
                    <div class="row requests-title mt-2"> 
                      <h4>Printing Request</h4>
                    </div>
                  {% elif request['service_name'] == 'SFGC' %}
                    <div class="row requests-title mt-2"> 
                      <h4>Gcash Request</h4>
                    </div>
                  {% elif request['service_name'] == 'SFFDS' %}
                    <div class="row requests-title mt-2"> 
                      <h4>Food Request</h4>
                    </div>
                  {% else %}
                    <div class="row requests-title mt-2">
                      <h5>Hatdog ka?</h5>
                    </div>
                  {% endif %}
                    <div class="row request-info ">
                      <h5>{{ request['request_id'] }} - {{ request['location'] }}</h5>
                    </div>
                    <div class="row request-description">
                      <h6>{{ request['description'] }} </h6>
                    </div>
                  </div>
                    {% if request['user_id'] or request['accepted_user_id'] == user['user_id'] %}
                    <div class="col-7 col-lg-4 d-flex justify-content-center align-self-center" >
                      {% if request['order_status'] == 'Listing' %}
                      <button type="button" class="btn accept-request " disabled>
                        Listing
                      </button>
                      {% elif request['order_status'] == 'Accepted' %}
                      <button type="button" class="btn accept-request " disabled>
                        Accepted
                      </button>
                      {% else %}
                      <button type="button" class="btn accept-request " disabled>
                        Completed
                      </button>
                      {% endif %}
                    </div>  
                    {% else %}
                    <div class="col-7 col-lg-4 d-flex justify-content-center align-self-center" >
                      <form action="{{ url_for('bp_dashboard.accept_request') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                          <button type="submit" name="accept" value="{{ request['request_id'] }}" class="btn accept-request mx-2">
                            Accept
                          </button>
                          <button type="submit" name="bookmark" value="bookmark" class="btn bookmark-request">
                            <img src={{url_for('static', filename='img/icons/R_bookmark.png')}} alt="bookmark">
                          </button>
                      </form>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <!-- Profile and Notif Row -->
        </div>
        <!-- SIDE PROFILE KILID SA REQUEST FEED -->
          <div class="col-3">
            <div class="user-card">
              <div class="user-card-body">
              <div class="user-img d-flex justify-content-center py-3">
                <a href="/account" class=" nav-link link light">
                {% if user['userImg'] is none %}
                  <img
                  class="avatar"
                  src="https://avatars.dicebear.com/api/avataaars/{{user['fname']}}{{user['lname']}}.svg?size=100&style=circle"
                />
                {% else %}
                <img class="avatar" src="{{ user['userImg'] }}" />
                {% endif %}
                </a>
              </div>
              <div class="user-details d-flex justify-content-center mt-2">
                <h2>{{user['fname']}} {{user['lname']}}</h2>
              </div>
              <div class="user-cc d-flex justify-content-center">
                {% if user['course'] is none %}
                <p>{{user['college']}}</p>
                {% else %}
                <p>{{user['college']}} - {{user['course']}}</p>
                {% endif %}
              </div>
              <div class="user-requests py-2 d-flex">
                <div class="col-8 created-request d-flex ms-3 my-2 p-2">
                  <div class="cr-number p-1 align-self-center">
                    <h3 class="ms-2 mb-0">{{ crequest }}</h3>
                  </div>
                  <div class="cr-text p-1 align-self-center">
                    <h5 class="m-0">Request Created</h5>
                  </div>
                </div>
                <div class="col d-flex align-self-center justify-content-center ">
                  {% if not crequest %}
                  <button class="btn dropdown-btn0 p-0">
                    <img class="d-flex m-auto"src={{url_for('static',
                    filename='img/icons/B_ddown.png')}} alt="dropdown-btn">
                  </button>
                  {% else %}
                  <button class="btn dropdown-btn p-0">
                    <img class="d-flex m-auto"src={{url_for('static',
                    filename='img/icons/B_ddown.png')}} alt="dropdown-btn">
                  </button>
                  {% endif %}
                </div>
              </div>
              <div class="user-c-requests p-2" style="display: none;">
                {% for request in urequest %}
                {% if request['service_name'] == 'SFPR' %}
                <div class="card c-request mt-2">
                  <div class="c-request-body card-body">
                    <div class="row">
                      <div class="col-8 text-center align-self-center"> 
                        <h5 class="m-0">Printing Request</h5>
                      </div>
                      <div class="col align-self-center text-center"> 
                        <p class="m-0">{{request['order_status']}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                {% elif request['service_name'] == 'SFGC' %}
                <div class="card c-request mt-2">
                  <div class="c-request-body card-body">
                    <div class="row">
                      <div class="col-8 text-center align-self-center"> 
                        <h5 class="m-0">Gcash Request</h5>
                      </div>
                      <div class="col align-self-center text-center"> 
                        <p class="m-0">{{request['order_status']}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                {% elif request['service_name'] == 'SFFDS' %}
                <div class="card c-request mt-2">
                  <div class="c-request-body card-body">
                    <div class="row">
                      <div class="col-8 text-center align-self-center"> 
                        <h5 class="m-0">Food Request</h5>
                      </div>
                      <div class="col align-self-center text-center"> 
                        <p class="m-0">{{request['order_status']}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
          </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Script for getting gcashtype  in Gcash Modal -->
    <script>
      var selectedButton = null;

      function getValue(element) {
        var selectedValue = element.value;
        document.getElementById("selectedValue").value = selectedValue;
      }

      function changeStyle(element) {
        if (selectedButton) {
          selectedButton.classList.remove("selected");
        }
        element.classList.add("selected");
        selectedButton = element;
      }
    </script>
    <!-- Script For Sidebar -->
    <script defer>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let returnBtn = document.querySelector("#returnbtn");
    let dashboard = document.querySelector(".dashboard-section")
    closeBtn.addEventListener("click", () => {
      sidebar.classList.toggle("open");
      sidebar.style.display="block";  
    });
    returnBtn.addEventListener("click", () => {
      sidebar.classList.toggle("open");
      sidebar.style.display="none";
    });
    </script>
    <!-- SCRIPT FOR GETTING REALTIME DATE & User's Firstname -->
    <script>
      var userFirstName = "{{ fname }}";

      const dateElement = document.querySelector(".date");
      const greetingElement = document.querySelector(".greeting");
      const nth = function(d) {
      if (d > 3 && d < 21) return 'th';
      switch (d % 10) {
        case 1:  return "st";
        case 2:  return "nd";
        case 3:  return "rd";
        default: return "th";
        }
      }
      function formatDate(date) {
        const DAYS = [
          "Sunday",
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday"
        ];
        const MONTHS = [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December"
        ];

        return `${DAYS[date.getDay()]}, ${MONTHS[date.getMonth()]} ${date.getDate()}${nth(date.getDate())}`;
      }
      function getGreeting() {
        const now = new Date();
        const hours = now.getHours();
        
        if (hours < 12) {
          return "Good morning, " + userFirstName + "!"; 
        } else if (hours < 18) {
          return "Good afternoon, " + userFirstName+ "!";
        } else {
          return "Good evening, " + userFirstName+ "!";
        }
      }

      setInterval(() => {
        const now = new Date();


        dateElement.textContent = formatDate(now);
      }, 200);

      setInterval(() => {
      greetingElement.textContent = getGreeting();
    }, 200);
    </script>
    <!-- JQUERY FOR SHOWING MODALS -->
    <script>
      function showModal(modalId) {
        $(modalId).modal("show");
        $("#CreateModal").modal("hide");
      }
      function returnCreateModal(modalId) {
        $(modalId).modal("hide");
      $("#CreateModal").modal("show");
      }
      console.log(showModal)
      console.log(returnCreateModal)
    </script>
    <!-- Script for Dropdown Created Request -->
    <script>
      $(document).ready(function(){
        $('.dropdown-btn').click(function(){
            $(this).toggleClass('flip');
            $('.user-c-requests').slideToggle();
          });
      });
    </script>

  </body>
</html>
