<div class="modal fade in" id="GCASH">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 750px">
    <div class="modal-content" style="border: 0;">
      <div class="modal-header">
        <a data-bs-toggle="modal" data-bs-target="#CreateModal" data-backdrop="false" style="cursor: pointer"> 
          <img class="back-icon me-3 " src={{url_for('static',
          filename='img/icons/Y_back.png')}} alt="return-icon">         
        </a>
        <h5 class="modal-title mb-0">Gcash Transaction</h5>
        <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        >
        </button> 
        </div>
      
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col m_icons justify-content-center align-items-center m-2">
                <img src={{url_for('static',
                filename='img/logo/gcash_logo.png')}} alt="tr-icon">
            </div>
            <div class="col m-2 align-items-center">
              <div class="row m-1">
                <button type="button" class="btn btn-light">Gcash Cash-in</button>
              </div>
              <div class="row m-1">
                <button type="button" class="btn btn-light">Gcash Cash-out</button>
              </div>
              <div class="row m-1">
                <button type="button" class="btn btn-light">Other</button>
              </div>
            
            </div>
            
            
          </div>
        </div>
      </div>
        
      </div>
    </div>
  </div>
</div>
