<div class="modal fade" id="GCASH">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 950px">
    <div class="modal-content" style="border: 0">
      <div class="modal-header">
        <a
          onclick="returnCreateModal('#GCASH')"
          data-bs-toggle="modal"
          style="cursor: pointer"
        >
          <img class="back-icon me-3 " src={{url_for('static',
          filename='img/icons/Y_back.png')}} alt="return-icon">
        </a>
        <h5 class="modal-title mb-0">Gcash Service</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row gcash-modal">
            <div class="col-7 d-flex justify-content-center align-self-center">
              <img class="gcash-logo p-2" src={{url_for('static',
              filename='img/logo/gcash_logo.png')}} alt="gcash_logo">
            </div>
            <div
              class="col-4 gcash-selection mt-2 justify-content-center align-self-center"
              id="gcash-option"
            >
            <form
                action="{{ url_for('bp_dashboard.add_gcash_request') }}"
                method="POST"
                enctype="multipart/form-data"
              >
              <div class="row m-2">
                <input
                  type="submit"
                  class="btn gcash-btn"
                  id="cash-in"
                  value="Cash-in"
                />
              </div>
              <div class="row m-2">
                <input
                  type="submit"
                  class="btn gcash-btn"
                  id="cash-out"
                  value="Cash-out"
                />
              </div>
            </div>
            <div
              class="col-4 mt-2 justify-content-center align-self-center"
              id="gcash-in-option"
              style="display: none"
            >
              
                {{ gform.hidden_tag() }}
                <div class="row m-2 gcash-header p-3">
                  <button type="button" class="btn gcash-btn" id="cash-in-req">
                    Cash-in Request
                  </button>
                </div>
                <div class="row m-2">
                  {{ gform.phone_number(class_='form-control gcash-number',
                  placeholder='Phone Number') }}
                </div>
                <div class="row m-2">
                  {{ gform.amount(class_='form-control gcash-amount',
                  placeholder='Amount') }}
                </div>
                <div class="row m-2">
                  {{ gform.location(class_='form-control gcash-amount',
                  placeholder='Location') }}
                </div>
                <div class="row paymentinfo mt-3">
                  <div class="row">
                    <p class="payment-text mx-auto text-center my-2">
                      Total payment may vary on the requested service
                    </p>
                  </div>
                  <div class="row">
                    <div
                      class="col d-flex align-items-center my-2"
                      id="submit-btn"
                    >
                      <button class="btn d-flex mx-auto p-2" id="submit">
                        {{gform.submit(class_='btn', value='Submit Request') }}
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div
              class="col-4 mt-2 justify-content-center align-self-center"
              id="gcash-out-option"
              style="display: none"
            >
              <form
                action="{{ url_for('bp_dashboard.add_gcash_request') }}"
                method="POST"
                enctype="multipart/form-data"
              >
                {{ gform.hidden_tag() }}
                <div class="row m-2 gcash-header p-3">
                  <button type="button" class="btn gcash-btn" id="cash-out-req">
                    Cash-Out Request
                  </button>
                </div>
                <div class="row m-2">
                  {{ gform.phone_number(class_='form-control gcash-number',
                  placeholder='Phone Number') }}
                </div>
                <div class="row m-2">
                  {{ gform.amount(class_='form-control gcash-amount',
                  placeholder='Amount') }}
                </div>
                <div class="row m-2">
                  {{ gform.location(class_='form-control gcash-amount',
                  placeholder='Location') }}
                </div>
                <div class="row paymentinfo mt-3">
                  <div class="row">
                    <p class="payment-text mx-auto text-center my-2">
                      Total payment may vary on the requested service
                    </p>
                  </div>
                  <div class="row">
                    <div
                      class="col d-flex align-items-center my-2"
                      id="submit-btn"
                    >
                      <button class="btn d-flex mx-auto p-2" id="submit">
                        {{gform.submit(class_='btn', value='Submit Request') }}
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
