<div class="modal fade in" id="PAYMENT" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 950px;">
    <div class="modal-content" style="border: 0;">
      <div class="modal-header">
        <a data-bs-toggle="modal" data-bs-target="#CreateModal" data-backdrop="false" style="cursor: pointer"> 
          <img class="back-icon me-3 " src={{url_for('static',
          filename='img/icons/Y_back.png')}} alt="return-icon">         
        </a>
        <h5 class="modal-title mb-0">Payment Information</h5>
        <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        >
        </button> 
        </div>
              <div class="modal-body">
                <!-- Steps -->
                <div class="steps" id="steps">
                  <div class="step" data-step-label="Step 1">
                    <div class="row print-modal">
                      <div class="col-6 m_icons justify-content-center align-items-center">
                          <img class="ms-5" src={{url_for('static',
                          filename='img/logo/printing_logo.png')}} alt="print_logo">
                      </div>
                      <div class="col-6 mt-2">
                        <form action="{{ url_for('bp_dashboard.add_print_request') }}" method="POST" enctype="multipart/form-data">
                          {{ form.hidden_tag() }}
                          <div class="row justify-content-center align-items-center">
                            <div class="col-6">
                              {{ form.printfile(class_='form-control fileinput', id='file') }}
                            </div>
                            <div class="col-6">
                              {{form.num_copies(class_='form-control numinput', placeholder='Number of Copies')}}
                            </div>
                          </div>
                        <div class="row p-2">
                          {{form.specification(class_='form-control specinput', placeholder='Specification')}}
                        </div>
                      </div>  
                    </form>   
                    </div>
                  </div>
                  <div class="step" data-step-label="Step 2">
                    <div class="row print-modal">
                      <div class="col-6 m_icons justify-content-center align-items-center">
                          <img class="ms-5" src={{url_for('static',
                          filename='img/logo/printing_logo.png')}} alt="print_logo">
                      </div>
                      <div class="col-6 mt-2">
                        <form action="{{ url_for('bp_dashboard.add_print_request') }}" method="POST" enctype="multipart/form-data">
                          {{ form.hidden_tag() }}
                          <div class="row justify-content-center align-items-center">
                            <div class="col-6">
                              {{ form.printfile(class_='form-control fileinput', id='file') }}
                            </div>
                            <div class="col-6">
                              {{form.num_copies(class_='form-control numinput', placeholder='Number of Copies')}}
                            </div>
                          </div>
                        <div class="row p-2">
                          {{form.specification(class_='form-control specinput', placeholder='Specification')}}
                        </div>
                      </div>  
                    </form>   
                    </div>
                  </div>
                  <div class="step" data-step-label="Step 3">
                    STEP3
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="prev-btn" disabled>Prev</button>
                <button type="button" class="btn btn-primary" id="next-btn">Next</button>
              </div>
            </div>
          </div>
        </div>
        
      
          </div>
        </div>
      </div>
        
      </div>
    </div>
  </div>
</div>
