<div class="modal fade in" id="PRINT">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="border: 0">
      <div class="modal-header">
        <a data-bs-toggle="modal" data-bs-target="#CreateModal" data-backdrop="false" style="cursor: pointer"> 
          <img class="back-icon me-3 " src={{url_for('static',
          filename='img/icons/Y_back.png')}} alt="return-icon">         
        </a>
        <h5 class="modal-title mb-0">Printing Service</h5>
        <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        >
        </button> 
        </div>
      
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <a
              class="col m-2 card border-0 mt-2"
              id="print-card"
              data-bs-toggle="modal"
              data-bs-target="#PRINT"
              data-backdrop="false"
              style="cursor: pointer"
            >
              <div class="row m_icons m-2">
                <img src={{url_for('static',
                filename='img/logo/printing_logo.png')}} alt="tr-icon">
              </div>
            
              </div>
            </a>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
