<div class="modal fade" id="PRINT">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 950px">
    <div class="modal-content" style="border: 0">
      <div class="modal-header">
        <a onclick="returnCreateModal('#PRINT')" style="cursor: pointer">
          <img class="back-icon me-3 " src={{url_for('static',
          filename='img/icons/Y_back.png')}} alt="return-icon">
        </a>
        <h5 class="modal-title mb-0">Printing Service</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form
            action="{{ url_for('bp_dashboard.add_print_request') }}"
            method="POST"
            enctype="multipart/form-data"
          >
            {{ form.hidden_tag() }}
            <div class="row print-modal">
              <div
                class="col-6 d-flex justify-content-center align-self-center"
              >
                <img class="print-logo" src={{url_for('static',
                filename='img/logo/printing_logo.png')}} alt="print_logo">
              </div>
              <div class="col-6 mt-2">
                <div class="row justify-content-center align-items-center">
                  <div class="row p-1">
                    {{ form.printfile(class_='form-control fileinput',
                    placeholder='File', id='file') }}
                  </div>
                  <div class="row p-1">
                    {{form.num_copies(class_='form-control numinput',
                    placeholder=' Number of Copies')}}
                  </div>
                </div>
                <div class="row p-1">
                  {{form.specification(class_='form-control specinput',
                  placeholder='Specification')}}
                </div>
                <div class="row p-1 mb-2">
                  {{form.location(class_='form-control locinput',
                  placeholder='Delivery Location/Meetup Location')}}
                </div>
              </div>
            </div>
            <div class="row paymentinfo mt-3">
              <div class="row">
                <div class="col d-flex justify-content-center">
                  <input
                    class="form-check-input me-2 align-self-center"
                    type="radio"
                    name="MOP"
                    id="flexRadioDefault1"
                    value="Gcash"
                  />
                  <label
                    class="form-check-label px-2 py-1"
                    for="flexRadioDefault1"
                  >
                    Gcash
                  </label>
                </div>
                <div class="col d-flex justify-content-center">
                  <input
                    class="form-check-input me-2 align-self-center"
                    type="radio"
                    name="MOP"
                    id="flexRadioDefault1"
                    value="COD"
                  />
                  <label
                    class="form-check-label px-2 py-1"
                    for="flexRadioDefault1"
                  >
                    Cash on Delivery
                  </label>
                </div>
              </div>
              <div class="row">
                <p class="payment-text mx-auto text-center my-2">
                  Total payment may vary on the requested service
                </p>
              </div>
              <div class="row">
                <div class="col d-flex align-items-center my-2">
                  {{form.submit(class_='btn mx-auto', value='Submit Request') }}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
