<div class="navbar container-fluid">
  <header class="justify-content-center mx-auto pt-2 pb-2">
    <div class="row">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="/" class="nav-link link-light">Home</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link link-light">About</a>
        </li>
        <li class="nav-item">
          <a href="/services" class="nav-link link-light">Services</a>
        </li>
      </ul>
    </div>
    <div class="row justify-content-center">
      <ul class="nav nav-pills">
        <li class="nav-item user" style="display: none">
          <a href="/login" class="nav-link link-light">Login</a>
        </li>
        <li class="nav-item user" style="display: none">
          <a href="/signup" class="nav-link link-light">Sign Up</a>
        </li>
      </ul>
    </div>
  </header>
</div>
