<!-- Modal -->
<div
  class="modal fade"
  id="PhotoModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Crop Image</h5>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8">
            <img id="upload-preview" src="" />
            <div id="image-cropper"></div>
          </div>
          <div class="col-md-4">
            <div id="preview-cropper"></div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <label class="btn btn-primary btn-file">
          Upload Image
          <input type="file" id="image-input" style="display: none" />
        </label>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          id="reset-cropper"
        >
          Reset
        </button>
        <button type="button" class="btn btn-success" id="crop-image">
          Crop
        </button>
      </div>
    </div>
  </div>
</div>
