.datetime {
  border-radius: 25px;
  background-color: #fffdf9;
  box-shadow: rgba(0, 0, 0, 0.175) 0px 3px 5px;
}

.date {
  font-family: "Mitr", sans-serif;
  font-size: 35px;
  text-shadow: rgba(0, 0, 0, 0.253) 0px 1px 2px;
  font-weight: 700;
  color: #6d0a03;
}
.greeting {
  font-family: "Mitr", sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, 0.253) 0px 1px 2px;
  color: #424242;
}

.request_lists {
  border-radius: 25px;
  background-color: rgba(66, 61, 49, 0.644);
}
#sd_icon3d {
  width: 180px;
  height: auto;
}
.card.CR-card {
  box-shadow: rgba(0, 0, 0, 0.175) 0px 3px 5px;
}

.card.TR-card {
  border-radius: 15px;
  background-color: #fffdf9;
  box-shadow: rgba(0, 0, 0, 0.175) 0px 3px 5px;
}
.card.TR-card a {
  text-decoration: none;
}

.TR-number h3 {
  font-family: "Mitr", sans-serif;
  font-style: normal;
  color: #6d0a03;
  font-size: 35px;
  text-shadow: rgba(0, 0, 0, 0.253) 0px 2px 2px;
}

.TR-info h3 {
  font-family: "Mitr", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #424242;
}

.CR-info h3 {
  font-family: "Mitr", sans-serif;
  font-size: 24px;
  margin: 0;
}

.TR-icon img,
.CR-icon img {
  width: 50px;
  height: auto;
}
@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

.card.CR-card {
  background: #6d0a03;
  border-radius: 15px;
}
h3 {
}
.card.CR-card h3 {
  color: #face7f;
}

.m_icons img {
  width: 150px;
  height: auto;
}
.print-logo,
.gcash-logo,
.ta-logo {
  width: 200px;
  height: auto;
}

.m_text h6 {
  font-family: "Mitr", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.modal-header {
  background-color: #6d0a03;
  color: #face7f;
}
.btn-close:hover {
  border-radius: 50%;
  box-shadow: 0 0 0 0.25rem #facf7f;
}
.btn-close:focus {
  border-radius: 50%;
  box-shadow: 0 0 0 0.25rem #facf7f48;
}

#fds-card,
#print-card,
#gc-card,
#ta-card {
  background-color: #fff7e7;
  color: #424242;
  text-decoration: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.253);
}

.gc-card:hover,
.ta-card:hover,
.fds-card:hover,
.print-card:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
  color: #424242;
}

.back-icon {
  width: 40px;
  height: auto;
}

.fileinput,
.numinput {
  border-radius: 12px;
  padding: 5px;
  background-color: #fffefb;
  font-family: "Jost", sans-serif;
  color: #424242;
  cursor: pointer;
}

.print-modal,
.gcash-modal {
  background-color: #fff7e7;
  border-radius: 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.089);
}

.form-modal-btn {
  width: 338px;
  height: 59.41px;
  background-color: #6d0a03;
  color: #face7f;
  border-radius: 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.089);
}

.form-modal-btn:hover {
  transform: scale(1.05);
}

.form-check-label {
  background-color: #6d0a03;
  border-radius: 10px;
  color: #face7f;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.178);
}
.form-control {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.form-control::file-selector-button {
  padding-left: 20px;
  background-color: #6d0a03;
  color: #face7f;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.178);
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #550601;
}

#submit {
  background-color: #6d0a03;
  color: #face7f;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.089);
}

.form-check-input {
  background-color: #6d0a03;
}

.form-check-input:checked {
  background-color: #6d0a03;
  color: #face7f;
  border: 0;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 222, 113, 0.25);
}
.form-check-input:checked[type="radio"] {
  background-image: url(../img/icons/Y_check.png);
}

.payment-text {
  font-family: "Mitr";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.RF-card-header h3 {
  font-family: "Mitr";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #6d0a03;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.253);
}

.card.RF-card {
  background-color: #fffdf9;
  border: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.089);
  border-radius: 15px;
}
.categories h5 {
  font-family: "Mitr";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.categories {
  border-bottom: 1px solid #424242;
}
.RF-card-requests:hover {
  background-color: #fdf5e6;
  transition: ease 0.5s;
}

.requests-title h4 {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #424242;
}

.request-info h5 {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #424242;
}

.gcash-btn {
  background: #6d0a03;
  border-radius: 15px;
  color: #face7f;
}
.gcash-btn.selected {
  background: #530701;
  border-radius: 15px;
  color: #face7f;
  box-shadow: 0 0px 7px #530701;
}

.gcash-btn:hover {
  background: #5c0700;
  transform: scale(1.03);
  color: #face7f;
  transition: ease 0.3s;
}

.accept-request,
.later-request {
  background: #6d0a03;
  color: #face7f;
}
.user-card {
  background-color: #fffdf9;
  border: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.089);
  border-radius: 15px;
}
.user-card * {
  font-family: "Mitr";
  font-style: normal;
  font-weight: 500;
}
.user-details h2 {
  text-decoration: underline;
  font-size: 18px;
  margin: 0;
}

.user-cc p {
  color: #6d0a03;
  font-size: 16px;
}
.user-img img {
  width: 100px;
  height: 100px;
}

.user-requests {
  background-color: #6d0a03;
  border-radius: 0 0 15px 15px;
}

.created-request {
  background: #fffbf4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.cr-text h5 {
  font-size: 16px;
}

.dropdown-btn,
.dropdown-btn0 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fffbf4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-btn:hover,
.dropdown-btn0:hover {
  background-color: #faf0e0;
}

.dropdown-btn img,
.dropdown-btn0 img {
  width: 35px;
  height: auto;
}
.flip {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}
.user-c-requests {
  background-color: #6d0a03;
}
.card.c-request {
  background-color: #fffdf9;
  border: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.089);
  border-radius: 15px;
}
.c-request-body h5 {
  font-size: 16px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.c-request-body p {
  font-size: 12px;
  color: #424242;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.btn.bookmark-request {
  background-color: #fffdf9;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

.btn.bookmark-request img {
  width: 25px;
  height: auto;
}
.btn.accept-request:disabled {
  background-color: #6d0a03;
  border-radius: 10px;
  color: #face7f;
  opacity: 100%;
  border: 0;
}
.btn.btn.delete-request {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.btn.delete-request img{
  width: 20px;
}

@media (max-width: 576px) {
  .dategreeting * {
    font-size: 1rem;
  }
  #sd_icon3d {
    width: 100px;
    height: auto;
  }
  .TR-icon img,
  .CR-icon img {
    width: 25px;
    height: auto;
  }

  .TR-info h3,
  .TR-number h3 {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .CR-info h3 {
    font-size: 12px;
  }
  .card.RF-card h3 {
    font-size: 1rem;
  }
  .categories h5 {
    font-size: 12px;
  }
  .user-card {
    display: none;
  }
  .modal-title {
    font-size: 1rem;
  }
  .m_text h6 {
    font-size: 10px;
  }
  .form-control {
    font-size: 12px;
  }
  .print-logo,
  .gcash-logo,
  .ta-logo {
    width: 140px;
  }
  .form-check-label {
    font-size: 12px;
  }
  .payment-text {
    font-size: 12px;
  }

  .gcash-btn {
    font-size: 12px;
  }
  .btn.delete-request img{
    position: relative;
    top: -2px;
  }
}
