@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Lexend:wght@400;500&family=Mitr:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  font-display: swap;
}

.navbar-header {
  background-color: #6d0a03;
  box-shadow: 0 0px 10px #000;
}
/* .container * {
  outline: #000 solid 1px;
} */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #fffdf9;
  padding: 6px 14px;
  z-index: 2;
  transition: all 0.4s ease;
}
.sb-sd-logo {
  width: 60px;
  height: auto;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 40px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}
.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}
.sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #6d0a03;
}
.sidebar li a:hover {
  background: #face7f;
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
.dashboard-section {
  position: relative;
  background: #f8f8f4;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 1;
}
.sidebar.open ~ .dashboard-section {
  left: 250px;
  width: calc(100% - 250px);
}
.icons {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.nav-link {
  color: #face7f !important;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}

.datetime {
  border-radius: 25px;
  background-color: #fffdf9;
  box-shadow: rgba(0, 0, 0, 0.175) 0px 3px 5px;
}

.date {
  font-family: "Mitr", sans-serif;
  font-size: 35px;
  text-shadow: rgba(0, 0, 0, 0.253) 0px 1px 2px;
  font-weight: 700;
  color: #6d0a03;
}
.greeting {
  font-family: "Mitr", sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, 0.253) 0px 1px 2px;
  color: #424242;
}

.request_lists {
  border-radius: 25px;
  background-color: rgba(66, 61, 49, 0.644);
}
#sd_icon3d {
  width: 180px;
  height: auto;
}
.card.CR-card {
  box-shadow: rgba(0, 0, 0, 0.175) 0px 3px 5px;
}

.card.TR-card {
  border-radius: 15px;
  background-color: #fffdf9;
  box-shadow: rgba(0, 0, 0, 0.175) 0px 3px 5px;
}
.card.TR-card a {
  text-decoration: none;
}

.TR-number h3 {
  font-family: "Mitr", sans-serif;
  font-style: normal;
  color: #6d0a03;
  font-size: 35px;
  text-shadow: rgba(0, 0, 0, 0.253) 0px 2px 2px;
}

.TR-info h3 {
  font-family: "Mitr", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #424242;
}

.CR-info h3 {
  font-family: "Mitr", sans-serif;
}

.TR-icon img,
.CR-icon img {
  width: 50px;
  height: auto;
}
@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

.modal-backdrop {
  display: none;
}

.card.CR-card {
  background: #6d0a03;
  border-radius: 15px;
}
h3 {
  font-size: 24px;
  margin: 0;
}
.card.CR-card h3 {
  color: #face7f;
}

.m_icons img {
  width: 150px;
  height: auto;
}
.print-logo,
.gcash-logo {
  width: 200px;
  height: auto;
}

.m_text h6 {
  font-family: "Mitr", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.modal-header {
  background-color: #6d0a03;
  color: #face7f;
}
.btn-close:hover {
  border-radius: 50%;
  box-shadow: 0 0 0 0.25rem #facf7f;
}
.btn-close:focus {
  border-radius: 50%;
  box-shadow: 0 0 0 0.25rem #facf7f48;
}

#fds-card,
#print-card,
#gc-card,
#ta-card {
  background-color: #fff7e7;
  color: #424242;
  text-decoration: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.253);
}

.gc-card:hover,
.ta-card:hover,
.fds-card:hover,
.print-card:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
  color: #424242;
}

.back-icon {
  width: 40px;
  height: auto;
}

.fileinput,
.numinput {
  border-radius: 12px;
  padding: 5px;
  background-color: #fffefb;
  font-family: "Jost", sans-serif;
  color: #424242;
  cursor: pointer;
}

.print-modal,
.gcash-modal {
  background-color: #fff7e7;
  border-radius: 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.089);
}

.form-modal-btn {
  width: 338px;
  height: 59.41px;
  background-color: #6d0a03;
  color: #face7f;
  border-radius: 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.089);
}

.form-modal-btn:hover {
  transform: scale(1.05);
}

.form-check-label {
  background-color: #6d0a03;
  border-radius: 10px;
  color: #face7f;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.178);
}
.form-control {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.form-control::file-selector-button {
  padding-left: 20px;
  background-color: #6d0a03;
  color: #face7f;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.178);
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #550601;
}

#submit {
  background-color: #6d0a03;
  color: #face7f;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.089);
}

.form-check-input {
  background-color: #6d0a03;
}

.form-check-input:checked {
  background-color: #6d0a03;
  color: #face7f;
  border: 0;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 222, 113, 0.25);
}
.form-check-input:checked[type="radio"] {
  background-image: url(../img/icons/Y_check.png);
}

.payment-text {
  font-family: "Mitr";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.RF-card-header h3 {
  font-family: "Mitr";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #6d0a03;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.253);
}

.card.RF-card {
  background-color: #fffdf9;
  border: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.089);
  border-radius: 15px;
}
.categories h5 {
  font-family: "Mitr";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.categories {
  border-bottom: 1px solid #424242;
}
.RF-card-requests:hover {
  background-color: #fdf5e6;
  transition: ease 0.5s;
}

.requests-title h4 {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #424242;
}

.request-info h5 {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #424242;
}

.gcash-btn {
  background: #6d0a03;
  border-radius: 15px;
  color: #face7f;
}

.gcash-btn:hover {
  background: #5c0700;
  transform: scale(1.03);
  color: #face7f;
  transition: ease 0.3s;
}

.accept-request,
.later-request {
  background: #5c0700;
  color: #face7f;
}
.user-card {
  background-color: #fffdf9;
  border: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.089);
  border-radius: 15px;
}
.user-card * {
  font-family: "Mitr";
  font-style: normal;
  font-weight: 500;
}
.user-details h2 {
  text-decoration: underline;
  font-size: 18px;
  margin: 0;
}

.user-cc p {
  color: #6d0a03;
  font-size: 16px;
}
.user-img img {
  width: 100px;
  height: 100px;
}

.user-requests {
  background-color: #6d0a03;
  border-radius: 0 0 15px 15px;
}

.created-request {
  background: #fffbf4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.cr-text h5 {
  font-size: 16px;
}

.dropdown-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fffbf4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.dropdown-btn:hover {
  background-color: #faf0e0;
}

.dropdown-btn img{
  width: 35px;
  height: auto;
}
.flip {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}
.user-c-requests {
  background-color: #6d0a03;
  
}
.card.c-request {
  background-color: #fffdf9;
  border: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.089);
  border-radius: 15px;
}
.c-request-body h5 {
  font-size: 16px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.c-request-body p {
  font-size: 12px;
  color: #424242;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}