.user-profile-header {
  background-color: #face7f;
  border-radius: 15px;
}

.edit-pic-icon {
  width: 20px;
  height: auto;
}

.UserImgContainer {
  border-radius: 100%; /* make the corners rounded */
  width: 100%; /* stretch the image to fill its container */
  height: auto; /* keep the aspect ratio */
}

.card.user-info-settings,
.card.user-info-nav {
  background-color: #fffbf4;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.103);
  border-radius: 24px;
}

#BasicInfoCard,
#UserInfoCard,
#SchoolInfoCard {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.info-icon-btn {
  width: 20px;
  height: 20px;
}

.btn.info-setting {
  width: 46px;
  height: 46px;
  background-color: #fef7ec;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.192);
}
.btn.info-setting:hover {
  background-color: #fdf0db;
}

.btn.basicinfo-red {
  border-radius: 40px;
  background-color: #6d0a03;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.171);
}
.btn.basicinfo-red span {
  font-size: 0.7rem;
  color: #face7f;
}

.card-title h5 {
  font-family: "Mitr", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #424242;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.212);
}

.user-info-label {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1rem;
  color: #424242;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.212);
}

.user-info-t {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  color: #424242;
}

.form-control {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 1rem !important;
  color: #424242 !important;
  border-radius: 10px !important;

  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border: 0px solid;
}

.form-control:focus {
  border-color: #fdf0db !important;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25) !important;
}
.modal-header {
  background-color: #6d0a03;
  color: #face7f;
}

#image {
  height: 300px;
  width: 300px;
  object-fit: cover; /* Make the image fit within the container */
  cursor: move;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border: rgba(0, 0, 0, 0) solid 1px;
}

#imageContainer {
  border-radius: 50%; /* Make the border radius 50% to create a circle */
  height: 300px;
  width: 300px;
  overflow: hidden;
  position: relative;
  outline: 1px solid rgba(0, 0, 0, 0.349);
}

#zoomSlider {
  width: 50%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.boundary {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.user-profile-header {
  background-color: #fffbf4 !important;
  border-radius: 15px !important;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.178);
}

.user-profile-header * {
  font-family: "Mitr";
  font-style: normal;
  font-weight: 600;
}

.row.user-name {
  font-size: 25px;
  color: #424242;
}
.row.user-college {
  font-weight: 500;
  font-size: 14px;
  color: #6d0a03;
}

.row.user-course p {
  font-weight: 500;
  font-size: 14px;
}

.btn.profile-setting-button {
  font-family: "Jost";
  color: #face7f;
  background-color: #6d0a03;
  border-radius: 40px;
}

.info-nav1,
.info-nav2,
.info-nav3 {
  font-family: "Mitr";
  font-weight: 500;
  text-decoration: none;
  color: #424242;
  font-size: 1.1rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.212);
}

.info-nav1:hover,
.info-nav2:hover,
.info-nav3:hover {
  color: #6d0a03;
  cursor: pointer;
}

#update-btn {
  color: #face7f;
  background-color: #6d0a03;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.212);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.212);
  border-radius: 20px;
}

@media (max-width: 576px) {
  .row.user-name,
  .row.user-college {
    justify-content: center;
    text-align: center;
  }
  .row.user-course {
    text-align: center;
  }
  .user-button {
    margin-top: 10px !important;
    display: flex;
    justify-content: center;
  }
  .card.user-info-nav {
    display: none;
  }
}
