@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap");
/* Fonts */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  color: white;
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url("../img/backgrounds/loginpagebg-min.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #351117;
}

.form-control {
  background: transparent;
  border-radius: 5px;
  color: white;
}

.form-control option {
  color: black;
}

#CreateText p {
  font-size: 25px;
  font-weight: bold;
}

.signup_form {
  background-color: #351117;
  border-radius: 5px;
}
.card {
  background-color: #351117;
  border-radius: 5px;
  border: none;
}
.select {
  background-color: none;
}
.select option {
  background-color: none;
}
.form-control {
  color: white !important;
  background-color: transparent !important;
}
.form-check {
  border: 1px solid rgba(0, 0, 0, 0.308);
  border-radius: 5px;
}

.btn,
.btn-primary {
  font-weight: 700;
  width: 352px;
  height: 43px;
  color: #711a28;
  border: none;
  outline: none;
  border-radius: 25px;
  background: transparent;
  background-color: #ffc163;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15px;
}
li {
  list-style-type: none;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#flash-message {
  color: #131313;
}
