@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Lexend:wght@400;500&family=Mitr:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
  font-style: normal;
  font-display: swap;
  color: white;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.logo-right-container {
  width: auto;
  position: fixed;
  top: 50%;
  right: 0;
  background-color: #6d0a03;
}

.logo-right-img {
  width: 65px;
  height: auto;
  padding-left: 15px;
}

.logo-left-container {
  width: auto;
  background: #6d0a03;
  position: fixed;
  top: 50%;
  left: 0;
}
.logo-left-img {
  width: 180px;
  height: auto;
}

.text-container {
  display: none;
  position: relative;
  margin: auto;
}
.logo-right-container:hover .text-container {
  display: block;
  transition: display 0.5s ease-in-out;
}
.logo-right-container:hover .logo-right-img {
  display: none;
  transition: display 0.5s ease-in-out;
}

.logo-right-text {
  font-family: "Jost";
  font-size: 20px;
  font-weight: 700;
  color: #ffce85;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
  padding: 10px;
  text-decoration: none;
}

.logo-right-text:hover {
  color: #fae5c5;
}
.navbar {
  background-color: #6d0a03;
}

.nav-item a {
  font-family: "Jost";
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.35);
}

.nav-item a:hover {
  color: #ffce85;
}

.container {
  background-image: url("/static/img/backgrounds/patternbg.png");
}

.services-img {
  width: 440px;
  height: auto;
}

.services-text h2 {
  font-family: "Mitr";
  font-size: 40px;
  font-weight: 600;
  color: #6d0a03;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.services-text p {
  font-family: "Lexend Deca";
  font-size: 20px;
  color: #424242;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.about-text h1 {
  font-family: "Mitr";
  font-size: 40px;
  font-weight: 600;
  color: #424242;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
}

/* To show the lines on right 
  and left sides of the text */
.divider::after,
.divider::before {
  content: "";
  border: 0.5px solid rgb(0, 0, 0);
  flex: 1;
}

/* Space on left and right sides of text */
.divider:not(:empty)::before {
  margin-right: 15px;
  margin-left: 330px;
}

.divider:not(:empty)::after {
  margin-left: 15px;
  margin-right: 330px;
}

.divider p {
  color: #424242;
  font-family: "Mitr";
  font-size: 25px;
  font-weight: 600;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 0;
}
.os-text {
  color: #424242;
  font-family: "Mitr";
  font-size: 20px;
  font-weight: 500;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0;
}
.cards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1250px;
  height: 659px;
  border-radius: 190px;
  background-color: #fff9f1;
  border: none;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
}
.card-body {
  color: black;
  width: 750px;
}
.text-center {
  font-family: "Lexend";
  font-weight: 600;
  color: #424242;
}
#ct-1 {
  color: #424242;
}

#ct-2 {
  color: #6d0a03;
}
.btn1 {
  background-color: #6d0a03;
  color: white;
  font-family: "Jost";
  font-weight: 600;
  font-size: 20px;
  border-radius: 25px;
  width: 200px;
  border: none;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}
.card-title,
.navbtns {
  width: 650px;
}

.card-body h2 {
  font-family: "Mitr";
  font-weight: 700;
  font-size: 68px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 576px) {
  .about-text h1 {
    font-size: 35px;
  }
  .logo-left-container {
    display: none;
  }
  .logo-right-container {
    display: none;
  }
  .os-text p {
    font-size: 10px;
  }
  .services-img {
    width: 270px;
    height: auto;
  }
  .services-text h2,
  .services-text p {
    text-align: center;
  }
  .services-text h2 {
    font-size: 30px;
  }
  .services-text p {
    font-size: 16px;
  }
  .nav-item.user {
    display: block !important;
  }
}
