.u-fixed,
.c-fixed {
  position: fixed;
}
.u-block,
.c-block {
  display: block;
}
.u-pad-a-md {
  padding: 15px;
}

.c-logo {
  width: 220px;
  top: 50%;
  left: 0;
  background-color: #6d0a03;
}

.sd {
  width: 180px;
  height: auto;
}
.sdi {
  width: 75px;
  height: auto;
  padding-left: 15px;
}

.c-menu {
  width: 120px;
  background: #6d0a03;
  position: fixed;
  top: 50%;
  right: 0;
}

.service img {
  width: 500px;
  height: auto;
  margin-right: 20px;
}

.container {
  background-image: url("../img/backgrounds/patternbg.png");
}
