@import url("https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap");
* {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-display: swap;
  font-size: 18px;
}
.container-fluid {
  background-color: #fffcf8;
}

.nav-link {
  color: #6d0a03;
}

.nav-link:hover {
  color: #ffce85;
}
